body{

  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
  color: #40514E;

}
h1{
  color: #66BFBF;
  font-size:5.625rem;
  line-height: 2;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: dotted  #EAF6F6 6px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 4%;
  margin: 100px auto;
  padding: 20px 10px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.top{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
}

.mid{
 margin: 100px  0 ;
}

.bottom{
 background-color: #66BFBF;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.cp{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2;

}
.cme{
  width: 40%;
  margin: 40px auto 60px;
}
.topcloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomcloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


  .btn {
   background-color:  #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   padding: 40px;
   text-decoration: none;
}

.btn:hover {

   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   text-decoration: none;
}
.copy{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 10px;
}
